# Virtual environment
venv/
*.env

data/
*.csv
*.pkl

# Python files
__pycache__/
*.pyc

# Jupyter Notebook files
.ipynb_checkpoints/
data/creditcard_2023.csv
data/creditcard.csv

# Other OS-specific files
.DS_Store
Thumbs.db